<!-- FoodItem Component (Template) -->
<div class="food-item">
    <div class="food-item-img-container">
        <img class="food-item-img" src="FOOD_IMAGE_URL" alt="FOOD_NAME">
        <img class="add-btn" src="src/assets/frontend_assets/add_icon_white.png" alt="Add" data-id="FOOD_ID">
    </div>
    <div class="food-item-info">
        <div class="food-item-name-rating">
            <p>FOOD_NAME</p>
            <img src="src/assets/frontend_assets/rating_starts.png" alt="Rating">
        </div>
        <p class="food-item-desc">FOOD_DESCRIPTION</p>
        <p class="food-item-price">$PRICE</p>
    </div>
</div>

<!--
Replace the following placeholders with actual values:
- FOOD_ID: Unique identifier for the food item
- FOOD_NAME: Name of the food item
- FOOD_IMAGE_URL: URL to the food image
- FOOD_DESCRIPTION: Description of the food
- PRICE: Price of the food item

Example:
<div class="food-item">
    <div class="food-item-img-container">
        <img class="food-item-img" src="https://api.example.com/images/food_1.png" alt="Greek salad">
        <img class="add-btn" src="src/assets/frontend_assets/add_icon_white.png" alt="Add" data-id="1">
    </div>
    <div class="food-item-info">
        <div class="food-item-name-rating">
            <p>Greek salad</p>
            <img src="src/assets/frontend_assets/rating_starts.png" alt="Rating">
        </div>
        <p class="food-item-desc">Food provides essential nutrients for overall health and well-being</p>
        <p class="food-item-price">$12</p>
    </div>
</div>
-->
