<!-- Admin Sidebar Component -->
<div id="sidebar" class="sidebar">
    <ul class="sidebar-menu">
        <li data-page="add" class="add-link">
            <img src="src/assets/add_icon.png" alt="Add">
            <span>Add Items</span>
        </li>
        <li data-page="list" class="list-link">
            <img src="src/assets/order_icon.png" alt="List">
            <span>List Items</span>
        </li>
        <li data-page="orders" class="orders-link">
            <img src="src/assets/order_icon.png" alt="Orders">
            <span>Orders</span>
        </li>
    </ul>
</div>
