<!-- Footer Component -->
<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="footer-content-left">
            <img src="src/assets/frontend_assets/logo.png" alt="Logo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut est felis. Mauris porta eros eleifend mi tincidunt semper. Duis vestibulum mollis orci non viverra. Sed vitae risus id mi eleifend vulputate.</p>
            <div class="footer-social-icons">
                <img src="src/assets/frontend_assets/facebook_icon.png" alt="Facebook">
                <img src="src/assets/frontend_assets/twitter_icon.png" alt="Twitter">
                <img src="src/assets/frontend_assets/linkedin_icon.png" alt="LinkedIn">
            </div>
        </div>
        <div class="footer-content-center">
            <h2>COMPANY</h2>
            <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/">About Us</a></li>
                <li><a href="#/">Delivery</a></li>
                <li><a href="#/">Privacy policy</a></li>
            </ul>
        </div>
        <div class="footer-content-right">
            <h2>GET IN TOUCH</h2>
            <ul>
                <li>+1-212-456-7890</li>
                <li>contact@tomato.com</li>
            </ul>
        </div>
    </div>
    <hr>
    <p class="footer-copyright">Copyright 2024 © Tomato.com - All Right Reserved.</p>
</footer>
