<!-- ExploreMenu Component -->
<div class="explore-menu" id="explore-menu">
    <h1>Explore our menu</h1>
    <p class="explore-menu-text">Choose from a diverse menu featuring a detectable array of dishes. Our mission is to satisfy your cravings and elevate your dining experience, one delicious meal at a time.</p>
    <div class="explore-menu-list">
        <div class="explore-menu-list-item menu-item" data-category="Salad">
            <img src="src/assets/frontend_assets/menu_1.png" alt="Salad" class="menu-image">
            <p>Salad</p>
        </div>
        <div class="explore-menu-list-item menu-item" data-category="Rolls">
            <img src="src/assets/frontend_assets/menu_2.png" alt="Rolls" class="menu-image">
            <p>Rolls</p>
        </div>
        <div class="explore-menu-list-item menu-item" data-category="Deserts">
            <img src="src/assets/frontend_assets/menu_3.png" alt="Deserts" class="menu-image">
            <p>Deserts</p>
        </div>
        <div class="explore-menu-list-item menu-item" data-category="Sandwich">
            <img src="src/assets/frontend_assets/menu_4.png" alt="Sandwich" class="menu-image">
            <p>Sandwich</p>
        </div>
        <div class="explore-menu-list-item menu-item" data-category="Cake">
            <img src="src/assets/frontend_assets/menu_5.png" alt="Cake" class="menu-image">
            <p>Cake</p>
        </div>
        <div class="explore-menu-list-item menu-item" data-category="Pure Veg">
            <img src="src/assets/frontend_assets/menu_6.png" alt="Pure Veg" class="menu-image">
            <p>Pure Veg</p>
        </div>
        <div class="explore-menu-list-item menu-item" data-category="Pasta">
            <img src="src/assets/frontend_assets/menu_7.png" alt="Pasta" class="menu-image">
            <p>Pasta</p>
        </div>
        <div class="explore-menu-list-item menu-item" data-category="Noodles">
            <img src="src/assets/frontend_assets/menu_8.png" alt="Noodles" class="menu-image">
            <p>Noodles</p>
        </div>
    </div>
    <hr/>
</div>
