<!-- FoodDisplay Component -->
<div class="food-display" id="food-display">
    <h2>Top dishes near you</h2>
    <div class="food-display-list">
        <!-- Food items will be inserted here dynamically -->
        <!-- Each food item has this structure:
        <div class="food-item">
            <div class="food-item-img-container">
                <img class="food-item-img" src="image-url" alt="Food Name">
                <img class="add-btn" src="add-icon" alt="Add" data-id="food-id">
            </div>
            <div class="food-item-info">
                <div class="food-item-name-rating">
                    <p>Food Name</p>
                    <img src="rating-icon" alt="Rating">
                </div>
                <p class="food-item-desc">Food Description</p>
                <p class="food-item-price">$Price</p>
            </div>
        </div>
        -->
    </div>
</div>
